<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string></string>
		<string>Lexend-Black.ttf</string>
		<string>Lexend-Bold.ttf</string>
		<string>Lexend-ExtraBold.ttf</string>
		<string>Lexend-ExtraLight.ttf</string>
		<string>Lexend-Light.ttf</string>
		<string>Lexend-Medium.ttf</string>
		<string>Lexend-Regular.ttf</string>
		<string>Lexend-SemiBold.ttf</string>
		<string>Lexend-Thin.ttf</string>
	</array>
</dict>
</plist>
